.container-full
  .row.header
    .col-md-12.text-center
      = image_tag('me.jpg', class: 'img-thumbnail img-circle', width: 200)
      %h1 jiunjiun
  .row.footer
    .col-md-12.text-center{:style => "font-size:39pt;"}
      %a{:href => "http://fb.me/doublejiun"}
        %i.fa.fa-facebook-square
      %a{:href => "http://github.com/jiunjiun"}
        %i.fa.fa-github-square
      %a{:href => "mailto:quietmes@gmail.com"}
        %i.fa.fa-envelope-square